.main-products{
    background-image: url(https://fpnature.vn/wp-content/uploads/2020/12/g2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.product{
    border: 2px solid #ccc;
    background: $bg-color;
    & img{
        width: 100%;
    }
    &_content-mota{
        height: 76px;
        overflow: hidden;
        font-size: 13px;
    }
    &_content-title{
        & a, & a:hover{
            text-decoration: none;
            color: $primary-color;
        }
    }
}