.text-color {
  color: $text-color;
}
.bg-title{
  // background: $primary-color-55;
  // color: $text-color;
  padding: 15px 60px;
  border-radius: 10px;
}
.line {
  height: 1px;
  width: 100px;
  background: $dar-color;
  position: absolute;
  transform: translate(0, 55px);
}