$font: "Rubik", sans-serif;

// Text
$text-color: #ffffff;
$dar-color: #989898;

// Color
$primary-color: #ed1f28;
$primary-color-50: #ec131e;
$primary-color-55: #ee2b34;

// Background
$bg-color: #ffffff;
